@page

@inject UserManager<IdentityUser> UserManager

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div>
    <input type="text" id="playerInput" value="@UserManager.GetUserName(User)" readonly/>
    <input type="button" id="activePlayerButton" value="Show me online players"/> <br />
    
    <div id="listOfPlayer"></div>

    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/game.js"></script>

    <a asp-controller="Game" asp-action="GameChat">Go to game chat</a> <br />

    <a asp-controller="Game" asp-action="GameMaps">Go to choose map for game</a>
</div>