@{
    ViewData["Title"] = "Login Page";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {
        background-image: url("images/welcome.png");
        background-repeat: no-repeat;
        background-color: #cccccc;
    }

</style>
</head>
<body>
</body>